FLASK_APP=gitssues/server.py
FLASK_RUN_PORT=8000
FLASK_ENV=development
JIRA_USERNAME=your-jira-username
JIRA_TOKEN=your-jira-api-token
OPSGENIE_TOKEN=your-opsgenie-api-token
SCHEDULE_NAME=your-opsgenie-schedule-name
GITHUB_USERNAME=your-github-username
GITHUB_TOKEN=your-secret-access-token-on-github
